# Python bytecode
*.pyc
__pycache__/

# Django database
db.sqlite3

# Media files
/media/

# Environment variables
.env

# Virtual environment
venv/
env/

# IDE/editor settings
.vscode/
.idea/

# Django migration files (optional)
**/migrations/
